python-3.10.13
fastapi
uvicorn[standard]
jinja2
python-multipart
pydantic
python-dotenv
langgraph
psycopg[binary]
psycopg-pool
langchain
langchain_groq
langgraph
langgraph-checkpoint-postgres
psycopg[binary]
psycopg-pool